﻿.logo {
	vertical-align: middle;
	font-size: 16px;
	font-weight: 700;
	color: #ff0;
}

.btn {
	width: 250px;
	height: 50px;
	display: block;
	margin: 10px auto;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 18px;
    line-height: 50px;
	color: #fff;
}

.btn-left{
	background-color: #0075c9;
}

.btn-right{
	background-color: #0075c9;
}

.content {
	position: absolute;
	top: 40px;
	bottom: 33px;
	left: 0;
	right: 0;
}

.con-warpper,.con-warpper-fixed {
	position: relative;
	height: 100%;
	width: 98%;
	margin: 0 auto;
	display: table;
}

.con-warpper p,.con-warpper-fixed p{
	color: #fff;
    padding: 1%;
    font-size: 14px;
}

.con-warpper .icon, .con-warpper-fixed .icon{
	display: inline-block;
	padding-top: 2%;
}

.con-warpper .code, .con-warpper-fixed .code{
	width: 200px;
	display: inline-block;
	padding-top: 1%;
}

.con-pc{
	height: 50%;
	position: relative;
}

.con-mobile{
	height: 50%;
	width: 100%;
	display: table;
}

.con-pc2{
	position: absolute;
	width: 100%;
	margin: 0 auto;
}

.con-pc .con-pc2{
	bottom: 0px;
}

.con-mobile .con-pc2{

}

@media screen and (orientation:landscape) {
    .con-warpper .con-pc {
        float: left;
        width: 50%;
        height: 100%;
        line-height: 100%;
        display: table;
    }

    .con-warpper .con-mobile{
    	height: 100%;
    	line-height: 100%;
    	width: 50%;
    }

    .con-warpper .con-pc2{
    	position: relative;
    	vertical-align: middle;
    	display: table-cell;
    	vertical-align: middle;
    }
}

@media screen and (max-width: 480px) {
	.btn{
		width: 80%;
	}
}

@media screen and (max-height: 300px) {
	.index-page .container {
		height:20px;
		line-height:20px;
	}	
	
	.index-footer .container {
		height:17px;
		line-height:17px;
	}

	.content {
		top: 20px;
		bottom: 17px;
	}
}

.mask{position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.7);}

.mask-txt{
	color:#fff;
	font-size:32px;
	z-index:10;
}

.rect-grand-father{
	position: absolute;
	width: 100%;
	height: 100%;
	display:table;
	text-align: center;
}
.rect-father{
	position: relative;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}

.center_tips{
	display:inline-block;
	margin:0 auto;
	padding:20px;
	border:2px solid #80002a;
	background:rgba(100,100,100,1);
	color:#ffffff;
	line-height:30px;
	text-align:center;
	z-index:99;
}
.middot{font-size:30px;color:#ffffff;}
