<html>
<head>
<title>aposLocals.js</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(101,138,186); font-weight: bold; }
.s3 { color: rgb(128,128,128); font-style: italic; }
.s4 { color: rgb(128,128,128); font-weight: bold; font-style: italic; }
.s5 { color: rgb(0,0,255); }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
aposLocals.js</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0"> 
</span><span class="s1">var </span><span class="s0">path = require(</span><span class="s2">'path'</span><span class="s0">); 
</span><span class="s1">var </span><span class="s0">extend = require(</span><span class="s2">'extend'</span><span class="s0">); 
</span><span class="s1">var </span><span class="s0">_ = require(</span><span class="s2">'lodash'</span><span class="s0">); 
</span><span class="s1">var </span><span class="s0">moment = require(</span><span class="s2">'moment'</span><span class="s0">); 
</span><span class="s1">var </span><span class="s0">findBigObjects = require(</span><span class="s2">'find-big-objects'</span><span class="s0">); 
 
</span><span class="s3">/** 
 * aposLocals 
 * </span><span class="s4">@augments </span><span class="s3">Augments the apos object with methods providing locals for Express 
 */</span><span class="s0"> 
 
module.exports = </span><span class="s1">function</span><span class="s0">(self) { 
  self._aposLocals = { 
 
    aposPrefix: self.prefix, 
 
    </span><span class="s3">// aposStylesheets renders markup to load CSS that is needed on</span><span class="s0"> 
    </span><span class="s3">// any page that will use Apostrophe. Examples: editor.less, content.less</span><span class="s0"> 
    </span><span class="s3">// and stylesheet assets pushed by other modules. `when` can be set to</span><span class="s0"> 
    </span><span class="s3">// either `user` or `anon` and signifies whether a user is logged in or not;</span><span class="s0"> 
    </span><span class="s3">// when users are logged in editing-related stylesheets are sent, otherwise not.</span><span class="s0"> 
    </span><span class="s3">// The `when` parameter is made available to your page templates, so typically you</span><span class="s0"> 
    </span><span class="s3">// just write this in your base layout template in the head element:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// `{{ aposScripts(when) }}`</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// If `minify` is set to `true` in `data/local.js` then minification and combination of</span><span class="s0"> 
    </span><span class="s3">// files is automatically performed.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// See `base.html` in the sandbox project.</span><span class="s0"> 
 
    aposStylesheets: </span><span class="s1">function</span><span class="s0">(when) { 
      </span><span class="s1">if </span><span class="s0">(!self._endAssetsCalled) { 
        </span><span class="s1">throw new </span><span class="s0">Error(</span><span class="s2">'CODE CHANGE REQUIRED: you must call apos.endAssets once after the last call to apos.pushAsset. Add apos.endAssets to the end of the list in your initApos function.'</span><span class="s0">); 
      } 
      </span><span class="s1">if </span><span class="s0">(self.options.minify) { 
        </span><span class="s1">return </span><span class="s2">'&lt;link href=&quot;' </span><span class="s0">+ self.prefix + </span><span class="s2">'/apos-minified/' </span><span class="s0">+ when + </span><span class="s2">'-' </span><span class="s0">+ self._generation + </span><span class="s2">'.css&quot; rel=&quot;stylesheet&quot; /&gt;'</span><span class="s0">; 
      } </span><span class="s1">else </span><span class="s0">{ 
        </span><span class="s1">if </span><span class="s0">(self._lessMasters &amp;&amp; self._lessMasters[when]) { 
          </span><span class="s1">return </span><span class="s2">'&lt;link href=&quot;' </span><span class="s0">+ self.prefix + self._lessMasters[when].web + </span><span class="s2">'&quot; rel=&quot;stylesheet&quot; /&gt;'</span><span class="s0">; 
        } 
        </span><span class="s1">return </span><span class="s0">_.map(self.filterAssets(self._assets[</span><span class="s2">'stylesheets'</span><span class="s0">], when), </span><span class="s1">function</span><span class="s0">(stylesheet) { 
          </span><span class="s1">return </span><span class="s2">'&lt;link href=&quot;' </span><span class="s0">+ self.prefix + stylesheet.web + </span><span class="s2">'&quot; rel=&quot;stylesheet&quot; /&gt;'</span><span class="s0">; 
        }).join(</span><span class="s2">&quot;</span><span class="s1">\n</span><span class="s2">&quot;</span><span class="s0">); 
      } 
    }, 
 
    </span><span class="s3">// aposScripts renders markup to load browser-side javascript that is needed on</span><span class="s0"> 
    </span><span class="s3">// any page that will use Apostrophe. Examples: content.js, editor.js, various</span><span class="s0"> 
    </span><span class="s3">// jquery plugins, jquery itself. `when` can be set to either `user` or `anon` and</span><span class="s0"> 
    </span><span class="s3">// signifies whether a user is logged in or not; when users are logged in editing-related</span><span class="s0"> 
    </span><span class="s3">// stylesheets are sent, otherwise not. The `when` parameter is made available to your</span><span class="s0"> 
    </span><span class="s3">// page templates, so typically you just write this in your base layout template</span><span class="s0"> 
    </span><span class="s3">// in the head element:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// `{{ aposScripts(when) }}`</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// If `minify` is set to `true` in `data/local.js` then minification and combination of</span><span class="s0"> 
    </span><span class="s3">// files is automatically performed.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// See `base.html` in the sandbox project.</span><span class="s0"> 
 
    aposScripts: </span><span class="s1">function</span><span class="s0">(when) { 
      </span><span class="s1">if </span><span class="s0">(!self._endAssetsCalled) { 
        </span><span class="s1">throw new </span><span class="s0">Error(</span><span class="s2">'CODE CHANGE REQUIRED: you must call apos.endAssets once after the last call to apos.pushAsset. Add apos.endAssets to the end of the list in your initApos function.'</span><span class="s0">); 
      } 
      </span><span class="s1">if </span><span class="s0">(!when) { 
        </span><span class="s3">// Backwards compatibility with older layouts</span><span class="s0"> 
        when = </span><span class="s2">'all'</span><span class="s0">; 
      } 
      </span><span class="s1">if </span><span class="s0">(self.options.minify) { 
        </span><span class="s1">var </span><span class="s0">unminifiable = self.filterAssets(self._assets[</span><span class="s2">'scripts'</span><span class="s0">], when, </span><span class="s1">false</span><span class="s0">); 
        </span><span class="s1">var </span><span class="s0">result = prefix() + scriptTags(unminifiable); 
        result += </span><span class="s2">'&lt;script src=&quot;' </span><span class="s0">+ self.prefix + </span><span class="s2">'/apos-minified/' </span><span class="s0">+ when + </span><span class="s2">'-' </span><span class="s0">+ self._generation + </span><span class="s2">'.js&quot;&gt;&lt;/script&gt;</span><span class="s1">\n</span><span class="s2">' </span><span class="s0">+ setScene(); 
        </span><span class="s1">return </span><span class="s0">result; 
      } </span><span class="s1">else </span><span class="s0">{ 
        </span><span class="s1">var </span><span class="s0">minifiable = self.filterAssets(self._assets[</span><span class="s2">'scripts'</span><span class="s0">], when); 
        </span><span class="s1">return </span><span class="s0">prefix() + scriptTags(minifiable) + setScene(); 
      } 
 
      </span><span class="s1">function </span><span class="s0">scriptTags(scripts) { 
        </span><span class="s1">return </span><span class="s0">_.map(scripts, </span><span class="s1">function</span><span class="s0">(script) { 
          </span><span class="s1">return </span><span class="s2">'&lt;script src=&quot;' </span><span class="s0">+ self.prefix + script.web + </span><span class="s2">'&quot;&gt;&lt;/script&gt;'</span><span class="s0">; 
        }).join(</span><span class="s2">&quot;</span><span class="s1">\n</span><span class="s2">&quot;</span><span class="s0">); 
      } 
 
      </span><span class="s3">// We don't want to use pushGlobalData for this in the usual way because</span><span class="s0"> 
      </span><span class="s3">// we want to be certain of the timing</span><span class="s0"> 
      </span><span class="s1">function </span><span class="s0">setScene() { 
        </span><span class="s1">return </span><span class="s2">&quot;&lt;script&gt;apos.scene = &quot; </span><span class="s0">+ JSON.stringify(when) + </span><span class="s2">&quot;;&lt;/script&gt;</span><span class="s1">\n</span><span class="s2">&quot;</span><span class="s0">; 
      } 
 
      </span><span class="s3">// apos.data.prefix must be available before any</span><span class="s0"> 
      </span><span class="s3">// .js files load, notably beforeCkeditor.js</span><span class="s0"> 
      </span><span class="s1">function </span><span class="s0">prefix() { 
        </span><span class="s1">return </span><span class="s2">&quot;&lt;script&gt;</span><span class="s1">\n</span><span class="s2">&quot; </span><span class="s0">+ 
          </span><span class="s2">&quot;if (!window.apos) {</span><span class="s1">\n</span><span class="s2">&quot; </span><span class="s0">+ 
          </span><span class="s2">&quot;  window.apos = {};</span><span class="s1">\n</span><span class="s2">&quot; </span><span class="s0">+ 
          </span><span class="s2">&quot;}</span><span class="s1">\n</span><span class="s2">&quot; </span><span class="s0">+ 
          </span><span class="s2">&quot;window.apos.data = { prefix: &quot; </span><span class="s0">+ JSON.stringify(self.prefix) + </span><span class="s2">&quot; };</span><span class="s1">\n</span><span class="s2">&lt;/script&gt;</span><span class="s1">\n</span><span class="s2">&quot;</span><span class="s0">; 
      } 
    }, 
 
    </span><span class="s3">// aposTemplates renders templates that are needed on any page that will</span><span class="s0"> 
    </span><span class="s3">// use apos. Examples: slideshowEditor.html, codeEditor.html,</span><span class="s0"> 
    </span><span class="s3">// etc. These lie dormant in the page until they are needed as prototypes to</span><span class="s0"> 
    </span><span class="s3">// be cloned by jQuery. `when` can be set to either `user` or `anon` and signifies whether</span><span class="s0"> 
    </span><span class="s3">// a user is logged in or not; when users are logged in editing-related stylesheets are sent,</span><span class="s0"> 
    </span><span class="s3">// otherwise not.The `when` parameter is made available to your page templates, so typically</span><span class="s0"> 
    </span><span class="s3">// you just write this in your base layout template at the end of the body element:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// `{{ aposTemplates(when) }}`</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// See `base.html` in the sandbox project.</span><span class="s0"> 
 
    aposTemplates: </span><span class="s1">function</span><span class="s0">(when) { 
      </span><span class="s1">if </span><span class="s0">(!when) { 
        when = </span><span class="s2">'all'</span><span class="s0">; 
      } 
      </span><span class="s1">var </span><span class="s0">templates = self._assets[</span><span class="s2">'templates'</span><span class="s0">]; 
      templates = self.filterAssets(templates, when); 
      </span><span class="s1">return </span><span class="s0">_.map(templates, </span><span class="s1">function</span><span class="s0">(template) { 
        </span><span class="s1">return </span><span class="s0">self.renderTemplateAsset(template).trim(); 
      }).join(</span><span class="s2">''</span><span class="s0">); 
    }, 
 
    </span><span class="s3">/** 
     * Renders a content area. Three syntaxes are supported. We recommend 
     * the first one for most uses: 
     * 
     * `aposArea(page, 'body', { ... other options ... })` 
     * 
     * `aposArea({ page: page, name: 'body', ... other options ... })` 
     * 
     * `aposArea({ slug: page.slug + ':body', area: page.body, ... other options ... })` 
     * 
     * Other supported options include `controls` and an option named for each 
     * widget type, which is passed on as the options to that widget. 
     * 
     * Note that you do not have to specify the `edit` option if you use the first two syntaxes, 
     * but you may if you wish to specifically forbid editing for a user who normally could. 
 
     */</span><span class="s0"> 
    aposArea: </span><span class="s1">function</span><span class="s0">(page, name, options) { 
 
      </span><span class="s3">// Make a shallow clone of options so our modifications don't</span><span class="s0"> 
      </span><span class="s3">// affect future calls. A deep clone would be very expensive,</span><span class="s0"> 
      </span><span class="s3">// fortunately we don't modify any deep properties. -Tom</span><span class="s0"> 
 
      options = _.clone(options); 
 
      </span><span class="s3">// Boil the newer syntax options down to the old first before</span><span class="s0"> 
      </span><span class="s3">// we actually try to access anything in options. -Tom</span><span class="s0"> 
 
      </span><span class="s1">if </span><span class="s0">(arguments.length &gt;= </span><span class="s5">2</span><span class="s0">) { 
        </span><span class="s1">if </span><span class="s0">(!options) { 
          options = {}; 
        } 
        options.page = arguments[</span><span class="s5">0</span><span class="s0">]; 
        options.name = arguments[</span><span class="s5">1</span><span class="s0">]; 
      } </span><span class="s1">else </span><span class="s0">{ 
        options = arguments[</span><span class="s5">0</span><span class="s0">]; 
      } 
      </span><span class="s1">if </span><span class="s0">(options.page &amp;&amp; options.name) { 
        options.slug = options.page.slug + </span><span class="s2">':' </span><span class="s0">+ options.name; 
        options.area = options.page[options.name]; 
        </span><span class="s1">if </span><span class="s0">(options.edit === undefined) { 
          options.edit = options.page._edit; 
        } 
        </span><span class="s3">// So we don't choke the browser with JSON of the entire page in</span><span class="s0"> 
        </span><span class="s3">// the area options</span><span class="s0"> 
        </span><span class="s1">delete </span><span class="s0">options.page; 
      } 
 
      </span><span class="s3">// If the slug is not explicitly given, try to get it from</span><span class="s0"> 
      </span><span class="s3">// the area. This works for areas that already exist, but</span><span class="s0"> 
      </span><span class="s3">// cannot be relied upon for new areas obviously</span><span class="s0"> 
      </span><span class="s1">if </span><span class="s0">(options.area &amp;&amp; (!options.slug)) { 
        options.slug = options.area.slug; 
      } 
 
      </span><span class="s3">/* OK, now we can acccess options for other things. */</span><span class="s0"> 
 
      </span><span class="s1">if </span><span class="s0">(!options.controls) { 
        options.controls = self.defaultControls; 
      } 
      options.styles = options.styles || self.controlTypes.style.choices; 
 
      </span><span class="s1">if </span><span class="s0">(!options.initialContent) { 
        </span><span class="s1">if </span><span class="s0">(options.textOnly) { 
          options.initialContent = </span><span class="s2">'&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;'</span><span class="s0">; 
        } </span><span class="s1">else </span><span class="s0">{ 
          options.initialContent = </span><span class="s2">'&lt;p data-initial-content&gt;Use the Add Content button to get started.&lt;/p&gt;'</span><span class="s0">; 
        } 
      } 
 
      </span><span class="s1">if </span><span class="s0">(!options.initialContent.match(</span><span class="s5">/^&lt;p data-initial-content/</span><span class="s0">)) { 
        </span><span class="s3">// We must be able to recognize and remove it. -Tom</span><span class="s0"> 
        options.initialContent = </span><span class="s2">'&lt;p data-initial-content&gt;' </span><span class="s0">+ options.initialContent + </span><span class="s2">'&lt;/p&gt;'</span><span class="s0">; 
      } 
 
      </span><span class="s1">var </span><span class="s0">area = options.area; 
      </span><span class="s1">delete </span><span class="s0">options.area; 
      </span><span class="s1">if </span><span class="s0">(!area) { 
        </span><span class="s3">// Invent the area if it doesn't exist yet, so we can</span><span class="s0"> 
        </span><span class="s3">// edit pages not previously edited</span><span class="s0"> 
        area = { items: [] }; 
        </span><span class="s1">if </span><span class="s0">(options.textOnly) { 
          </span><span class="s3">// If the area is text only then it should initially contain an</span><span class="s0"> 
          </span><span class="s3">// empty text widget as there is no way to add another and we want to</span><span class="s0"> 
          </span><span class="s3">// be able to apply the apos-empty class immediately</span><span class="s0"> 
          </span><span class="s3">// area.items.push({ type: 'richText', content: '' });</span><span class="s0"> 
        } 
        </span><span class="s1">if </span><span class="s0">(!options.noInitialContent &amp;&amp; options.initialContent &amp;&amp; options.edit) { 
          area.items.push({ type: </span><span class="s2">'richText'</span><span class="s0">, content: options.initialContent }); 
        } 
      } 
      </span><span class="s3">// Keep options and area separate, area is much too big to stuff into</span><span class="s0"> 
      </span><span class="s3">// the options attribute of every area element, whoops</span><span class="s0"> 
      </span><span class="s1">return </span><span class="s0">self.partial(</span><span class="s2">'area'</span><span class="s0">, { options: options, area: area }); 
    }, 
 
    </span><span class="s3">/** 
     * Renders a singleton (a standalone widget). Three syntaxes are supported. We recommend 
     * the first one for most uses: 
     * 
     * `aposSingleton(page, 'body', 'slideshow', { ... other options ... })` 
     * 
     * `aposSingleton({ page: page, name: 'body', type: 'slideshow', ... other options ... })` 
     * 
     * `aposSingleton({ slug: page.slug + ':body', area: page.body, type: 'slideshow', ... other options ... })` 
     * 
     * Other options are passed on to the widget. 
     * 
     * Note that you do not have to specify the `edit` option if you use the first two syntaxes, 
     * but you may if you wish to specifically forbid editing for a user who normally could. 
     */</span><span class="s0"> 
    aposSingleton: </span><span class="s1">function</span><span class="s0">(page, name, type, options) { 
      </span><span class="s3">// Transform the first syntax to the second</span><span class="s0"> 
      </span><span class="s1">if </span><span class="s0">(arguments.length &gt;= </span><span class="s5">3</span><span class="s0">) { 
        </span><span class="s1">if </span><span class="s0">(!options) { 
          options = {}; 
        } 
        options.page = page; 
        options.name = name; 
        options.type = type; 
      } </span><span class="s1">else </span><span class="s0">{ 
        options = arguments[</span><span class="s5">0</span><span class="s0">]; 
      } 
      </span><span class="s1">if </span><span class="s0">(!self.itemTypes[options.type]) { 
        console.error(</span><span class="s2">&quot;Attempt to insert a singleton of a nonexistent type: &quot; </span><span class="s0">+ options.type); 
        </span><span class="s1">return</span><span class="s0">; 
      } 
      </span><span class="s3">// Find area based on page and name</span><span class="s0"> 
      </span><span class="s1">if </span><span class="s0">(options.page &amp;&amp; options.name) { 
        options.slug = options.page.slug + </span><span class="s2">':' </span><span class="s0">+ options.name; 
        options.area = options.page[options.name]; 
        </span><span class="s1">if </span><span class="s0">(options.edit === undefined) { 
          options.edit = options.page._edit; 
        } 
        </span><span class="s3">// So we don't choke the browser with JSON of the entire page in</span><span class="s0"> 
        </span><span class="s3">// the area options</span><span class="s0"> 
        </span><span class="s1">delete </span><span class="s0">options.page; 
      } 
      </span><span class="s3">// If the slug is not explicitly given, try to get it from</span><span class="s0"> 
      </span><span class="s3">// the area. This works for areas that already exist, but</span><span class="s0"> 
      </span><span class="s3">// cannot be relied upon for new areas obviously</span><span class="s0"> 
      </span><span class="s1">if </span><span class="s0">(options.area &amp;&amp; (!options.slug)) { 
        options.slug = options.area.slug; 
      } 
      </span><span class="s1">if </span><span class="s0">(!options.area) { 
        </span><span class="s3">// Invent the area if it doesn't exist yet, so we can</span><span class="s0"> 
        </span><span class="s3">// edit pages not previously edited</span><span class="s0"> 
        options.area = { items: [] }; 
      } 
      </span><span class="s3">// If someone transforms an existing area into a singleton, do a reasonable thing by</span><span class="s0"> 
      </span><span class="s3">// taking the first existing item of the proper type</span><span class="s0"> 
      </span><span class="s1">var </span><span class="s0">item = _.find(options.area.items, </span><span class="s1">function</span><span class="s0">(item) { 
        </span><span class="s1">return </span><span class="s0">item.type === options.type; 
      }); 
      options.itemType = self.itemTypes[options.type]; 
      options.item = item; 
      </span><span class="s1">if </span><span class="s0">(options.item) { 
        options.item.position = </span><span class="s2">'middle'</span><span class="s0">; 
        options.item.size = </span><span class="s2">'full'</span><span class="s0">; 
      } 
 
      </span><span class="s3">// Options to pass on to the widget</span><span class="s0"> 
      options.options = _.omit(options, </span><span class="s2">'area'</span><span class="s0">, </span><span class="s2">'item'</span><span class="s0">, </span><span class="s2">'slug'</span><span class="s0">, </span><span class="s2">'type'</span><span class="s0">, </span><span class="s2">'page'</span><span class="s0">, </span><span class="s2">'name'</span><span class="s0">, </span><span class="s2">'edit'</span><span class="s0">); 
 
      </span><span class="s3">// Prune this back so it's not circular</span><span class="s0"> 
      options.options.itemType = self.jsonItemType(options.itemType); 
 
      </span><span class="s3">// Options to pass on to the DOM</span><span class="s0"> 
 
      </span><span class="s1">return </span><span class="s0">self.partial(</span><span class="s2">'singleton'</span><span class="s0">, options); 
    }, 
 
    </span><span class="s3">// Returns true if the specified area is empty. Expects a page</span><span class="s0"> 
    </span><span class="s3">// object and an area name, or an options object containing an</span><span class="s0"> 
    </span><span class="s3">// object with an `area` property.</span><span class="s0"> 
    aposAreaIsEmpty: </span><span class="s1">function</span><span class="s0">(page, name) { 
      </span><span class="s1">var </span><span class="s0">area; 
      </span><span class="s1">if </span><span class="s0">(arguments.length === </span><span class="s5">2</span><span class="s0">) { 
        area = page[name]; 
      } </span><span class="s1">else </span><span class="s0">{ 
        </span><span class="s3">// &quot;page&quot; is an options object</span><span class="s0"> 
        area = page.area; 
      } 
      </span><span class="s1">if </span><span class="s0">(!area) { 
        </span><span class="s1">return true</span><span class="s0">; 
      } 
      </span><span class="s1">return </span><span class="s0">!_.some(area.items, </span><span class="s1">function</span><span class="s0">(item) { 
        </span><span class="s1">if </span><span class="s0">(self.itemTypes[item.type] &amp;&amp; self.itemTypes[item.type].empty) { 
          </span><span class="s1">return </span><span class="s0">!self.itemTypes[item.type].empty(item); 
        } </span><span class="s1">else </span><span class="s0">{ 
          </span><span class="s1">return true</span><span class="s0">; 
        } 
      }); 
    }, 
 
    </span><span class="s3">// Returns true if the specified area is empty when considered as a</span><span class="s0"> 
    </span><span class="s3">// singleton of the specified type. Expects a page object, an area name</span><span class="s0"> 
    </span><span class="s3">// and a widget type name. Alternatively you may pass a single object</span><span class="s0"> 
    </span><span class="s3">// with an `area` property and a `type` property, in which case the</span><span class="s0"> 
    </span><span class="s3">// `area` property is the actual area object.</span><span class="s0"> 
    aposSingletonIsEmpty: </span><span class="s1">function</span><span class="s0">(page, name, type) { 
      </span><span class="s1">var </span><span class="s0">options; 
      </span><span class="s3">// Wrong syntax - warn the developer</span><span class="s0"> 
      </span><span class="s1">if </span><span class="s0">(arguments.length === </span><span class="s5">2</span><span class="s0">) { 
        </span><span class="s1">throw new </span><span class="s0">Error(</span><span class="s2">&quot;aposSingletonIsEmpty takes 3 arguments (page, name, type) &quot;</span><span class="s0">); 
      } 
      </span><span class="s3">// Transform the first syntax to the second</span><span class="s0"> 
      </span><span class="s1">else if </span><span class="s0">(arguments.length &gt;= </span><span class="s5">3</span><span class="s0">) { 
        </span><span class="s1">if </span><span class="s0">(!options) { 
          options = {}; 
        } 
        options.area = page[name]; 
        options.type = type; 
      } </span><span class="s1">else </span><span class="s0">{ 
        options = arguments[</span><span class="s5">0</span><span class="s0">]; 
      } 
 
      </span><span class="s1">if </span><span class="s0">(!options.area) { 
        </span><span class="s1">return true</span><span class="s0">; 
      } 
 
      </span><span class="s1">return </span><span class="s0">!_.some(options.area.items , </span><span class="s1">function</span><span class="s0">(item) { 
        </span><span class="s1">if </span><span class="s0">(self.itemTypes[item.type] &amp;&amp; (item.type === options.type) &amp;&amp; self.itemTypes[item.type].empty) { 
          </span><span class="s1">return </span><span class="s0">!self.itemTypes[item.type].empty(item); 
        } </span><span class="s1">else </span><span class="s0">{ 
          </span><span class="s1">return true</span><span class="s0">; 
        } 
      }); 
    }, 
    aposSlugify: </span><span class="s1">function</span><span class="s0">(string) { 
      </span><span class="s1">return </span><span class="s0">self.slugify(string); 
    }, 
    </span><span class="s3">// Outputs the normal views of all of the content items (widgets and/or</span><span class="s0"> 
    </span><span class="s3">// rich text blocks) specified by the first argument, passing on the specified</span><span class="s0"> 
    </span><span class="s3">// options. Typically invoked for you by `aposArea` or `aposSingleton`, but can</span><span class="s0"> 
    </span><span class="s3">// be called directly with `area.items` when you do not wish to render the</span><span class="s0"> 
    </span><span class="s3">// wrapper markup for the area as a whole (permissible only if editing is</span><span class="s0"> 
    </span><span class="s3">// not a possibility here). The `allowed` option, if present, should be a list</span><span class="s0"> 
    </span><span class="s3">// of permitted item types; any items not on that list are not rendered.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// If a widget has a lockup property the widget and the text item following it</span><span class="s0"> 
    </span><span class="s3">// are wrapped in an apos-lockup div. If the item following the widget is not</span><span class="s0"> 
    </span><span class="s3">// a text item the lockup is ignored.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// Options for individual widget types can be passed as follows:</span><span class="s0"> 
    </span><span class="s3">// `{ slideshow: { ... options ... } }`</span><span class="s0"> 
    aposAreaContent: </span><span class="s1">function</span><span class="s0">(items, options) { 
      </span><span class="s1">var </span><span class="s0">result = </span><span class="s2">''</span><span class="s0">; 
      </span><span class="s1">var </span><span class="s0">allowed = options.allowed; 
      </span><span class="s1">var </span><span class="s0">lockupOpen = </span><span class="s1">false</span><span class="s0">; 
      </span><span class="s1">var </span><span class="s0">i; 
      </span><span class="s1">var </span><span class="s0">lockup; 
      </span><span class="s1">var </span><span class="s0">limit = items.length; 
      </span><span class="s1">if </span><span class="s0">(options.limit &amp;&amp; (options.limit &lt; items.length)) { 
        limit = options.limit; 
      } 
      </span><span class="s1">for </span><span class="s0">(i = </span><span class="s5">0</span><span class="s0">; (i &lt; limit); i++) { 
        </span><span class="s1">var </span><span class="s0">item = items[i]; 
        </span><span class="s1">if </span><span class="s0">(allowed &amp;&amp; (!_.contains(allowed, item.type))) { 
          </span><span class="s1">continue</span><span class="s0">; 
        } 
        </span><span class="s1">var </span><span class="s0">itemOptionsIn = options ? options[item.type] : {}; 
        </span><span class="s1">var </span><span class="s0">itemOptions = {}; 
        extend(</span><span class="s1">true</span><span class="s0">, itemOptions, itemOptionsIn); 
        </span><span class="s1">if </span><span class="s0">(options.editView) { 
          itemOptions.editView = </span><span class="s1">true</span><span class="s0">; 
        } 
        </span><span class="s3">// LOCKUPS: if a widget has the lockup property, do some sanity checks,</span><span class="s0"> 
        </span><span class="s3">// then output that widget and the rich text item that follows it inside</span><span class="s0"> 
        </span><span class="s3">// a wrapper div with the apos-lockup class as well as a class derived</span><span class="s0"> 
        </span><span class="s3">// from the name of the lockup</span><span class="s0"> 
        lockup = </span><span class="s1">false</span><span class="s0">; 
        </span><span class="s1">if </span><span class="s0">(item.lockup &amp;&amp; self.lockups[item.lockup] &amp;&amp; _.contains(self.lockups[item.lockup].widgets, item.type) &amp;&amp; ((i + </span><span class="s5">1</span><span class="s0">) &lt; items.length) &amp;&amp; (items[i + </span><span class="s5">1</span><span class="s0">].type === </span><span class="s2">'richText'</span><span class="s0">)) { 
          lockup = self.lockups[item.lockup]; 
        } 
        </span><span class="s1">if </span><span class="s0">(lockup) { 
          result += </span><span class="s2">'&lt;div class=&quot;apos-lockup ' </span><span class="s0">+ self.cssName(item.lockup) + </span><span class="s2">'&quot;&gt;'</span><span class="s0">; 
          </span><span class="s3">// Lockups can contain custom options per widget type</span><span class="s0"> 
          extend(</span><span class="s1">true</span><span class="s0">, itemOptions, lockup[item.type] || {}); 
        } 
        result += self._aposLocals.aposItemNormalView(item, itemOptions).trim(); 
        </span><span class="s1">if </span><span class="s0">(lockupOpen) { 
          result += </span><span class="s2">&quot;&lt;/div&gt;</span><span class="s1">\n</span><span class="s2">&quot;</span><span class="s0">; 
          lockupOpen = </span><span class="s1">false</span><span class="s0">; 
        } 
        </span><span class="s1">if </span><span class="s0">(lockup) { 
          lockupOpen = </span><span class="s1">true</span><span class="s0">; 
        } 
      } 
      </span><span class="s1">return </span><span class="s0">result; 
    }, 
 
    </span><span class="s3">// Find an image referenced within an area, such as an image in a slideshow widget.</span><span class="s0"> 
    </span><span class="s3">// Returns the first image matching the criteria. Only GIF, JPEG and PNG images</span><span class="s0"> 
    </span><span class="s3">// will ever be returned.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// EASY SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaImage(page, 'body')</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may also add options, such as &quot;extension&quot; to force the results to</span><span class="s0"> 
    </span><span class="s3">// include JPEGs only:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaImage(page, 'body', { extension: 'jpg' })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// (Note Apostrophe always uses .jpg for JPEGs.)</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// CLASSIC SYNTAX (this is the hard way):</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaImage({ area: page.body })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// OPTIONS:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may specify `extension` or `extensions` (an array of extensions)</span><span class="s0"> 
    </span><span class="s3">// to filter the results.</span><span class="s0"> 
 
    aposAreaImage: </span><span class="s1">function</span><span class="s0">(options </span><span class="s3">/* OR page, name, options */</span><span class="s0">) { 
      </span><span class="s1">var </span><span class="s0">result = self.areaImage.apply(self, arguments); 
      </span><span class="s1">return </span><span class="s0">result; 
    }, 
 
    </span><span class="s3">// Find images referenced within an area, such as images in a slideshow widget.</span><span class="s0"> 
    </span><span class="s3">// Returns all the files matching the criteria unless the &quot;limit&quot; option is used.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// EASY SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaImages(page, 'body')</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// Now you can loop over them with &quot;for&quot;.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may also add options:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaImages(page, 'body', { extension: 'jpg', limit: 2 })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// Note that Apostrophe always uses three-letter lowercase extensions.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// CLASSIC SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaImage({ area: page.body })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// OPTIONS:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may specify `extension`, or `extensions` (an array of extensions).</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// The `limit` option limits the number of results returned. Note that</span><span class="s0"> 
    </span><span class="s3">// `areaImage` is more convenient than `aposAreaImages` if limit is 1.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// See also aposAreaFiles.</span><span class="s0"> 
 
    aposAreaImages: </span><span class="s1">function</span><span class="s0">(options </span><span class="s3">/* or page, name, _options */</span><span class="s0">) { 
      </span><span class="s1">return </span><span class="s0">self.areaImages.apply(self, arguments); 
    }, 
 
    </span><span class="s3">// Find a file referenced within an area, such as an image in a slideshow widget,</span><span class="s0"> 
    </span><span class="s3">// or a PDF in a file widget.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// Returns the first file matching the criteria.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// EASY SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaFile(page, 'body')</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may also add options:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaFile(page, 'body', { extension: 'jpg' })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// CLASSIC SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaFile({ area: page.body })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// OPTIONS:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may specify `extension`, `extensions` (an array of extensions)</span><span class="s0"> 
    </span><span class="s3">// or `group` to filter the results. By default the `images` and `office` groups</span><span class="s0"> 
    </span><span class="s3">// are available.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// If you are using `group: &quot;images&quot;` consider calling aposAreaImage instead.</span><span class="s0"> 
    </span><span class="s3">// This is convenient and protects you from accidentally getting a PDF file.</span><span class="s0"> 
 
    aposAreaFile: </span><span class="s1">function</span><span class="s0">(options </span><span class="s3">/* or page, name, _options */</span><span class="s0">) { 
      </span><span class="s1">return </span><span class="s0">self.areaFile.apply(self, arguments); 
    }, 
 
    </span><span class="s3">// Find files referenced within an area, such as images in a slideshow widget.</span><span class="s0"> 
    </span><span class="s3">// Returns all the files matching the criteria unless the &quot;limit&quot; option is used.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// EASY SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaFiles(page, 'body')</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// Now you can loop over them with &quot;for&quot;.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may also add options:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaFiles(page, 'body', { extension: 'jpg', limit: 2 })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// CLASSIC SYNTAX:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// aposAreaFile({ area: page.body })</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// OPTIONS:</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// You may specify `extension`, `extensions` (an array of extensions)</span><span class="s0"> 
    </span><span class="s3">// or `group` to filter the results. By default the `images` and `office` groups</span><span class="s0"> 
    </span><span class="s3">// are available. See also `aposAreaImage` and `aposAreaImages` for</span><span class="s0"> 
    </span><span class="s3">// convenience.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// The `limit` option limits the number of results returned. Note that</span><span class="s0"> 
    </span><span class="s3">// `aposAreaFile` is more convenient than `aposAreaFiles` if you want</span><span class="s0"> 
    </span><span class="s3">// just one file.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// If you are using `group: &quot;images&quot;` consider calling aposAreaImages instead.</span><span class="s0"> 
    </span><span class="s3">// This is convenient and protects you from accidentally getting a PDF file.</span><span class="s0"> 
 
    aposAreaFiles: </span><span class="s1">function</span><span class="s0">(options </span><span class="s3">/* or page, name, _options */</span><span class="s0">) { 
      </span><span class="s1">return </span><span class="s0">self.areaFiles.apply(self, arguments); 
    }, 
 
    </span><span class="s3">// bc wrapper for aposAreaFile, see aposAreaFile</span><span class="s0"> 
    aposAreaFindFile: </span><span class="s1">function</span><span class="s0">(options </span><span class="s3">/* or page, name, _options */</span><span class="s0">) { 
      </span><span class="s1">return </span><span class="s0">self.areaFile.apply(self, arguments); 
    }, 
 
    </span><span class="s3">// Outputs markup for a button that accesses the media</span><span class="s0"> 
    </span><span class="s3">// admin interface.</span><span class="s0"> 
    aposMediaMenu: </span><span class="s1">function</span><span class="s0">(permissions) { 
      </span><span class="s1">if </span><span class="s0">(self.permissions.can({ 
        user: { 
          permissions: permissions 
        } 
      }, </span><span class="s2">'edit-file'</span><span class="s0">)) { 
        </span><span class="s1">return </span><span class="s0">self.partial(</span><span class="s2">'mediaMenu'</span><span class="s0">, permissions); 
      } 
    }, 
 
    </span><span class="s3">// Outputs markup for a button that access the tag</span><span class="s0"> 
    </span><span class="s3">// admin interface. TODO: in 0.6 switch to a permissions</span><span class="s0"> 
    </span><span class="s3">// object as the only argument.</span><span class="s0"> 
    aposTagsMenu: </span><span class="s1">function</span><span class="s0">(options) { 
      </span><span class="s1">return </span><span class="s0">self.partial(</span><span class="s2">'tagsMenu'</span><span class="s0">, options); 
    }, 
 
    </span><span class="s3">// Renders the normal, public view of a widget or rich text item. Normally invoked</span><span class="s0"> 
    </span><span class="s3">// by aposAreaContent, which is usually invoked by aposArea or aposSingleton.</span><span class="s0"> 
    </span><span class="s3">// Typically you will not need to call this yourself.</span><span class="s0"> 
    aposItemNormalView: </span><span class="s1">function</span><span class="s0">(item, options) { 
      </span><span class="s1">if </span><span class="s0">(!options) { 
        options = {}; 
      } 
      </span><span class="s1">if </span><span class="s0">(!self.itemTypes[item.type]) { 
        console.error(</span><span class="s2">&quot;Unknown item type: &quot; </span><span class="s0">+ item.type); 
        </span><span class="s3">// Empty string so concatenation does not crash the server</span><span class="s0"> 
        </span><span class="s1">return </span><span class="s2">''</span><span class="s0">; 
      } 
      </span><span class="s1">var </span><span class="s0">itemType = self.itemTypes[item.type]; 
      options.widget = itemType.widget; 
 
      </span><span class="s1">if </span><span class="s0">(options.bodyOnly) { 
        options.widget = </span><span class="s1">false</span><span class="s0">; 
      } 
 
      </span><span class="s3">// The content property doesn't belong in a data attribute,</span><span class="s0"> 
      </span><span class="s3">// and neither does any property beginning with an _, unless</span><span class="s0"> 
      </span><span class="s3">// whitelisted</span><span class="s0"> 
      </span><span class="s1">var </span><span class="s0">attributes = {}; 
      </span><span class="s1">if </span><span class="s0">(itemType.json) { 
        </span><span class="s3">// Type has a custom JSON filter</span><span class="s0"> 
        attributes = itemType.json(item); 
      } </span><span class="s1">else </span><span class="s0">{ 
        </span><span class="s3">// use forOwn rather than each() to avoid being faked out</span><span class="s0"> 
        </span><span class="s3">// by any object that happens to have a &quot;length&quot; property -Tom and Joel</span><span class="s0"> 
        _.forOwn(item, </span><span class="s1">function</span><span class="s0">(value, key) { 
          </span><span class="s1">if </span><span class="s0">(_.contains(itemType.jsonProperties, key)) { 
            </span><span class="s3">// Whitelisted</span><span class="s0"> 
          } </span><span class="s1">else </span><span class="s0">{ 
            </span><span class="s3">// By default, all properties that do not start with _ and</span><span class="s0"> 
            </span><span class="s3">// are not the &quot;content&quot; property are made available on</span><span class="s0"> 
            </span><span class="s3">// the element as JSON attributes</span><span class="s0"> 
            </span><span class="s1">if </span><span class="s0">((</span><span class="s1">typeof</span><span class="s0">(key) === </span><span class="s2">'string'</span><span class="s0">) &amp;&amp; ((key === </span><span class="s2">'content'</span><span class="s0">) || (key.substr(</span><span class="s5">0</span><span class="s0">, </span><span class="s5">1</span><span class="s0">) === </span><span class="s2">'_'</span><span class="s0">))) { 
              </span><span class="s1">return</span><span class="s0">; 
            } 
          } 
          attributes[key] = value; 
        }); 
      } 
 
      </span><span class="s3">// findBigObjects(options, 'options: ' + item.type, 50000);</span><span class="s0"> 
      </span><span class="s3">// findBigObjects(attributes, 'attributes: ' + item.type, 50000);</span><span class="s0"> 
 
      </span><span class="s3">// All options must be made available on the browser side,</span><span class="s0"> 
      </span><span class="s3">// otherwise it is not possible to see the widget properly</span><span class="s0"> 
      </span><span class="s3">// after it is saved without a page refresh. Corollary:</span><span class="s0"> 
      </span><span class="s3">// giant things like page objects should never be passed</span><span class="s0"> 
      </span><span class="s3">// as options. Let the loader function get them</span><span class="s0"> 
 
      </span><span class="s1">var </span><span class="s0">empty = itemType.empty ? itemType.empty(item) : </span><span class="s1">false</span><span class="s0">; 
 
      </span><span class="s1">var </span><span class="s0">response = self.partial(</span><span class="s2">'itemNormalView'</span><span class="s0">, { item: item, itemType: itemType, empty: empty, options: options, attributes: attributes }); 
      </span><span class="s1">return </span><span class="s0">response; 
    }, 
 
    </span><span class="s3">// Given a file object (as found in a slideshow widget for instance),</span><span class="s0"> 
    </span><span class="s3">// return the file URL. If options.size is set, return the URL for</span><span class="s0"> 
    </span><span class="s3">// that size (one-third, one-half, two-thirds, full). full is</span><span class="s0"> 
    </span><span class="s3">// &quot;full width&quot; (1140px), not the original. For the original, don't pass size</span><span class="s0"> 
    </span><span class="s3">// There is a matching client-side implementation accessible as apos.filePath</span><span class="s0"> 
 
    aposFilePath: </span><span class="s1">function</span><span class="s0">(file, options) { 
      </span><span class="s1">return </span><span class="s0">self.filePath(file, options); 
    }, 
 
    </span><span class="s3">// Convenience method for the file path of a slideshow's first image.</span><span class="s0"> 
    aposAreaImagePath: </span><span class="s1">function</span><span class="s0">(page, name, options) { 
      options = options || {}; 
      </span><span class="s1">return </span><span class="s0">self._aposLocals.aposFilePath( self.areaImage.apply(self, arguments), options); 
    }, 
 
    </span><span class="s3">// Log a message to the console from a Nunjucks template. Great for debugging.</span><span class="s0"> 
    aposLog: </span><span class="s1">function</span><span class="s0">(m) { 
      console.log(m); 
      </span><span class="s1">return </span><span class="s2">''</span><span class="s0">; 
    }, 
 
    </span><span class="s3">// Generate a globally unique ID</span><span class="s0"> 
    aposGenerateId: </span><span class="s1">function</span><span class="s0">() { 
      </span><span class="s1">return </span><span class="s0">self.generateId(); 
    }, 
 
    </span><span class="s3">// Generate the right range of page numbers to display in the pager.</span><span class="s0"> 
    </span><span class="s3">// Just a little too much math to be comfortable in pure Nunjucks</span><span class="s0"> 
    aposPageRange: </span><span class="s1">function</span><span class="s0">(options) { 
      </span><span class="s1">var </span><span class="s0">pages = []; 
      </span><span class="s1">var </span><span class="s0">fromPage = options.page - </span><span class="s5">2</span><span class="s0">; 
      </span><span class="s1">if </span><span class="s0">(fromPage &lt; </span><span class="s5">2</span><span class="s0">) { 
        fromPage = </span><span class="s5">2</span><span class="s0">; 
      } 
      </span><span class="s1">for </span><span class="s0">(</span><span class="s1">var </span><span class="s0">page = fromPage; (page &lt; (fromPage + options.shown)); page++) { 
        pages.push(page); 
      } 
      </span><span class="s1">return </span><span class="s0">pages; 
    }, 
 
    </span><span class="s3">// For an array of versions, return either the last 7 days's or this months versions.</span><span class="s0"> 
    aposVersionsDateRange: </span><span class="s1">function</span><span class="s0">(versions, range){ 
      </span><span class="s1">var </span><span class="s0">stop; 
      </span><span class="s1">if </span><span class="s0">(range === </span><span class="s2">'week'</span><span class="s0">){ 
        stop = moment().subtract(</span><span class="s5">7</span><span class="s0">, </span><span class="s2">'days'</span><span class="s0">); 
      } </span><span class="s1">else </span><span class="s0">{ 
        stop = moment().subtract(</span><span class="s5">1</span><span class="s0">, </span><span class="s2">'month'</span><span class="s0">).endOf(</span><span class="s2">'month'</span><span class="s0">); 
      } 
      </span><span class="s1">return </span><span class="s0">_.filter(versions, </span><span class="s1">function</span><span class="s0">(version){ 
        </span><span class="s1">return </span><span class="s0">moment(version.createdAt).isAfter(stop); 
      }); 
    }, 
 
    </span><span class="s3">// Test whether the specified date object refers to a date in the current year.</span><span class="s0"> 
    </span><span class="s3">// The events module utilizes this</span><span class="s0"> 
 
    aposIsCurrentYear: </span><span class="s1">function</span><span class="s0">(date) { 
      </span><span class="s1">var </span><span class="s0">now = </span><span class="s1">new </span><span class="s0">Date(); 
      </span><span class="s1">return </span><span class="s0">date.getYear() === now.getYear(); 
    }, 
 
    </span><span class="s3">// Returns true if the list contains the specified value.</span><span class="s0"> 
    </span><span class="s3">// If value is an array, returns true if the list contains</span><span class="s0"> 
    </span><span class="s3">// *any of* the specified values</span><span class="s0"> 
    aposContains: </span><span class="s1">function</span><span class="s0">(list, value) { 
      </span><span class="s1">if </span><span class="s0">(_.isArray(value)) { 
        </span><span class="s1">for </span><span class="s0">(</span><span class="s1">var </span><span class="s0">i = </span><span class="s5">0</span><span class="s0">; i &lt; value.length; i++) { 
          </span><span class="s1">var </span><span class="s0">valueItem = value[i]; 
          </span><span class="s1">if </span><span class="s0">(_.contains(list, valueItem)){ 
            </span><span class="s1">return true</span><span class="s0">; 
          } 
        } 
        </span><span class="s1">return false</span><span class="s0">; 
      } 
      </span><span class="s1">else</span><span class="s0">{ 
        </span><span class="s1">return </span><span class="s0">_.contains(list, value); 
      } 
    }, 
 
    </span><span class="s3">// Returns true if the list contains at least one</span><span class="s0"> 
    </span><span class="s3">// object with the named property.</span><span class="s0"> 
 
    </span><span class="s3">// The first parameter may also be a single object, in</span><span class="s0"> 
    </span><span class="s3">// which case this function returns true if that object</span><span class="s0"> 
    </span><span class="s3">// has the named property.</span><span class="s0"> 
 
    aposContainsProperty: </span><span class="s1">function</span><span class="s0">(list, property) { 
      </span><span class="s1">if </span><span class="s0">(_.isArray(list)) { 
        </span><span class="s1">return </span><span class="s0">_.some(list, </span><span class="s1">function</span><span class="s0">(item){ </span><span class="s1">return </span><span class="s0">_.has(item, property); }); 
      } </span><span class="s1">else </span><span class="s0">{ 
        </span><span class="s1">return </span><span class="s0">_.has(list, property); 
      } 
    }, 
 
    </span><span class="s3">// Reverses the order of the array. This MODIFIES the array</span><span class="s0"> 
    </span><span class="s3">// in addition to returning it</span><span class="s0"> 
    aposReverse: </span><span class="s1">function</span><span class="s0">(array){ 
      </span><span class="s1">return </span><span class="s0">array.reverse(); 
    }, 
 
    </span><span class="s3">// If the `list` argument is a string, returns true if it begins</span><span class="s0"> 
    </span><span class="s3">// with `value`. If the `list` argument is an array, returns</span><span class="s0"> 
    </span><span class="s3">// true if at least one of its elements begins with `value`.</span><span class="s0"> 
    aposBeginsWith: </span><span class="s1">function</span><span class="s0">(list, value) { 
      </span><span class="s1">if </span><span class="s0">(_.isArray(list)) { 
        </span><span class="s1">for </span><span class="s0">(</span><span class="s1">var </span><span class="s0">i = </span><span class="s5">0</span><span class="s0">; i &lt; list.length; i++) { 
          </span><span class="s1">var </span><span class="s0">listItem = list[i]; 
          </span><span class="s1">if </span><span class="s0">(listItem.indexOf(value) === </span><span class="s5">0</span><span class="s0">) { 
            </span><span class="s1">return true</span><span class="s0">; 
          } 
        } 
      } </span><span class="s1">else </span><span class="s0">{ 
        </span><span class="s1">if </span><span class="s0">(list.indexOf(value) === </span><span class="s5">0</span><span class="s0">) { 
          </span><span class="s1">return true</span><span class="s0">; 
        } 
      } 
      </span><span class="s1">return false</span><span class="s0">; 
    }, 
 
    </span><span class="s3">// Pass as many objects as you want; they will get merged via</span><span class="s0"> 
    </span><span class="s3">// `extend` into a new object, without modifying any of them, and</span><span class="s0"> 
    </span><span class="s3">// the resulting object will be returned. If several objects have</span><span class="s0"> 
    </span><span class="s3">// a property, the last object wins.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// This is useful to add one more option to an options object</span><span class="s0"> 
    </span><span class="s3">// which was passed to you.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// If any argument is null, it is skipped gracefully. This allows</span><span class="s0"> 
    </span><span class="s3">// you to pass in an options object without checking if it is null.</span><span class="s0"> 
 
    aposMerge: </span><span class="s1">function</span><span class="s0">() { 
      </span><span class="s1">var </span><span class="s0">result = {}; 
      </span><span class="s1">var </span><span class="s0">i; 
      </span><span class="s1">for </span><span class="s0">(i = </span><span class="s5">0</span><span class="s0">; (i &lt; arguments.length); i++) { 
        </span><span class="s1">if </span><span class="s0">(!arguments[i]) { 
          </span><span class="s1">continue</span><span class="s0">; 
        } 
        extend(</span><span class="s1">true</span><span class="s0">, result, arguments[i]); 
      } 
      </span><span class="s1">return </span><span class="s0">result; 
    }, 
 
    </span><span class="s3">// Find the first array element, if any, that has the specified value for</span><span class="s0"> 
    </span><span class="s3">// the specified property.</span><span class="s0"> 
 
    aposFind: </span><span class="s1">function</span><span class="s0">(arr, property, value) { 
      </span><span class="s1">return </span><span class="s0">_.find(arr, </span><span class="s1">function</span><span class="s0">(item) { 
        </span><span class="s1">return </span><span class="s0">(item[property] === value); 
      }); 
    }, 
 
    </span><span class="s3">// Find all the array elements, if any, that have the specified value for</span><span class="s0"> 
    </span><span class="s3">// the specified property.</span><span class="s0"> 
 
    aposFilter: </span><span class="s1">function</span><span class="s0">(arr, property, value) { 
      </span><span class="s1">return </span><span class="s0">_.filter(arr, </span><span class="s1">function</span><span class="s0">(item) { 
        </span><span class="s1">return </span><span class="s0">(item[property] === value); 
      }); 
    }, 
 
    </span><span class="s3">// Find all the array elements, if any, for which the specified property</span><span class="s0"> 
    </span><span class="s3">// is truthy.</span><span class="s0"> 
 
    aposFilterNonempty: </span><span class="s1">function</span><span class="s0">(arr, property) { 
      </span><span class="s1">return </span><span class="s0">_.filter(arr, </span><span class="s1">function</span><span class="s0">(item) { 
        </span><span class="s1">return </span><span class="s0">(item[property]); 
      }); 
    }, 
 
    </span><span class="s3">// Given an array of objects with the given property, return an array with</span><span class="s0"> 
    </span><span class="s3">// the value of that property for each object.</span><span class="s0"> 
 
    aposPluck: </span><span class="s1">function</span><span class="s0">(arr, property) { 
      </span><span class="s1">return </span><span class="s0">_.pluck(arr, property); 
    }, 
 
    </span><span class="s3">// Concatenate all of the given arrays and/or values</span><span class="s0"> 
    </span><span class="s3">// into a single array. If an argument is an array, all</span><span class="s0"> 
    </span><span class="s3">// of its elements are individually added to the</span><span class="s0"> 
    </span><span class="s3">// resulting array. If an argument is a value, it is</span><span class="s0"> 
    </span><span class="s3">// added directly to the array.</span><span class="s0"> 
 
    aposConcat: </span><span class="s1">function</span><span class="s0">(arrOrObj1, arrOrObj2 </span><span class="s3">/* , ... */</span><span class="s0">) { 
      </span><span class="s3">// I tried to implement this with call() but I kept</span><span class="s0"> 
      </span><span class="s3">// getting arrays in my values. We still get the</span><span class="s0"> 
      </span><span class="s3">// benefit of concat() and its built-in support for</span><span class="s0"> 
      </span><span class="s3">// treating arrays and scalar values differently. -Tom</span><span class="s0"> 
      </span><span class="s1">var </span><span class="s0">result = []; 
      </span><span class="s1">var </span><span class="s0">i; 
      </span><span class="s1">for </span><span class="s0">(i = </span><span class="s5">0</span><span class="s0">; (i &lt; arguments.length); i++) { 
        result = result.concat(arguments[i]); 
      } 
      </span><span class="s1">return </span><span class="s0">result; 
    }, 
 
    </span><span class="s3">// Convert an area to plaintext. This will only contain text</span><span class="s0"> 
    </span><span class="s3">// for items that clearly have an appropriate plaintext</span><span class="s0"> 
    </span><span class="s3">// representation for the public, so most widgets will not want</span><span class="s0"> 
    </span><span class="s3">// to be represented as they have no reasonable plaintext</span><span class="s0"> 
    </span><span class="s3">// equivalent, but you can define the 'getPlaintext' method</span><span class="s0"> 
    </span><span class="s3">// for any widget to return one (see self.itemTypes for the</span><span class="s0"> 
    </span><span class="s3">// richText example).</span><span class="s0"> 
 
    </span><span class="s3">// Plaintext means truly plain, so if you want to output the</span><span class="s0"> 
    </span><span class="s3">// text with nunjucks, be sure to use the &quot;e&quot; filter.</span><span class="s0"> 
 
    </span><span class="s3">// If the truncate option is present, it is used as a character</span><span class="s0"> 
    </span><span class="s3">// limit. The plaintext is cut at the closest word boundary</span><span class="s0"> 
    </span><span class="s3">// before that length. If this cannot be done a hard cutoff is</span><span class="s0"> 
    </span><span class="s3">// applied so that the result is never longer than</span><span class="s0"> 
    </span><span class="s3">// options.truncate characters.</span><span class="s0"> 
 
    </span><span class="s3">// You may call with the page, areaName, options syntax:</span><span class="s0"> 
 
    </span><span class="s3">// {{ aposAreaPlaintext(page, 'body', { truncate: 200 }) }}</span><span class="s0"> 
 
    </span><span class="s3">// Or a single options object:</span><span class="s0"> 
 
    </span><span class="s3">// {{ aposAreaPlaintext({ area: page.body, truncate: 200 }) }}</span><span class="s0"> 
 
    aposAreaPlaintext: </span><span class="s1">function</span><span class="s0">(page, name, options) { 
      </span><span class="s1">if </span><span class="s0">(!options) { 
        options = {}; 
      } 
      </span><span class="s1">if </span><span class="s0">(arguments.length === </span><span class="s5">1</span><span class="s0">) { 
        options = page; 
      } </span><span class="s1">else </span><span class="s0">{ 
        options.area = page[name]; 
      } 
      </span><span class="s1">return </span><span class="s0">self.getAreaPlaintext(options); 
    }, 
 
    </span><span class="s3">// Convert an area to richtext. Same as aposAreaPlaintext, but does not</span><span class="s0"> 
    </span><span class="s3">// strip tags</span><span class="s0"> 
 
    aposAreaRichtext: </span><span class="s1">function</span><span class="s0">(page, name, options) { 
      </span><span class="s1">if </span><span class="s0">(!options) { 
        options = {}; 
      } 
      </span><span class="s1">if </span><span class="s0">(arguments.length === </span><span class="s5">1</span><span class="s0">) { 
        options = page; 
      } </span><span class="s1">else </span><span class="s0">{ 
        options.area = page[name]; 
      } 
 
      </span><span class="s1">return </span><span class="s0">self.getAreaRichtext(options); 
    }, 
 
    </span><span class="s3">// Groups by the property named by 'key' on each of the values.</span><span class="s0"> 
    </span><span class="s3">// If the property referred to by the string 'key' is found to be</span><span class="s0"> 
    </span><span class="s3">// an array property of the first object, aposGroupByArray is called.</span><span class="s0"> 
    </span><span class="s3">//</span><span class="s0"> 
    </span><span class="s3">// Usage: {{ aposGroupBy(people, 'age') }} or {{ aposGroupBy(items, 'tags') }}</span><span class="s0"> 
    aposGroupBy: </span><span class="s1">function</span><span class="s0">(items, key){ 
      </span><span class="s1">if</span><span class="s0">(items.length &amp;&amp; Array.isArray(items[</span><span class="s5">0</span><span class="s0">][key])) { 
        </span><span class="s1">return </span><span class="s0">self._groupByArray(items, key); 
      } 
      </span><span class="s1">return </span><span class="s0">_.groupBy(items, key); 
    }, 
 
    </span><span class="s3">// Returns true if the permissions specified indicate that the</span><span class="s0"> 
    </span><span class="s3">// user can edit *something*, it doesn't matter what. This includes</span><span class="s0"> 
    </span><span class="s3">// being able to edit your profile. Useful to</span><span class="s0"> 
    </span><span class="s3">// decide whether to show the admin bar.</span><span class="s0"> 
    aposCanEditSomething: </span><span class="s1">function</span><span class="s0">(permissions) { 
      </span><span class="s1">return </span><span class="s0">_.some(permissions, </span><span class="s1">function</span><span class="s0">(val, key) { 
        </span><span class="s1">return </span><span class="s0">key.match(</span><span class="s5">/^(guest|edit|admin)/</span><span class="s0">); 
      }); 
    }, 
 
    </span><span class="s3">// Given a series of alternating keys and values, this</span><span class="s0"> 
    </span><span class="s3">// function returns an object with those values for</span><span class="s0"> 
    </span><span class="s3">// those keys. For instance, aposObject('name', 'bob')</span><span class="s0"> 
    </span><span class="s3">// returns { name: 'bob' }. This is useful because</span><span class="s0"> 
    </span><span class="s3">// Nunjucks does not allow you to create an object with</span><span class="s0"> 
    </span><span class="s3">// a property whose name is unknown at the time the</span><span class="s0"> 
    </span><span class="s3">// template is written.</span><span class="s0"> 
    aposObject: </span><span class="s1">function</span><span class="s0">(</span><span class="s3">/* key, value, ... */</span><span class="s0">) { 
      </span><span class="s1">var </span><span class="s0">o = {}; 
      </span><span class="s1">var </span><span class="s0">i = </span><span class="s5">0</span><span class="s0">; 
      </span><span class="s1">while </span><span class="s0">(i &lt; arguments.length) { 
        o[arguments[i]] = arguments[i + </span><span class="s5">1</span><span class="s0">]; 
        i += </span><span class="s5">2</span><span class="s0">; 
      } 
      </span><span class="s1">return </span><span class="s0">o; 
    } 
  }; 
  </span><span class="s3">// Add more locals for Apostrophe later. Used by extension modules</span><span class="s0"> 
  </span><span class="s3">// like apostrophe-pages. Can be used to push flags as well as functions.</span><span class="s0"> 
  self.addLocal = </span><span class="s1">function</span><span class="s0">(name, fn) { 
    </span><span class="s1">var </span><span class="s0">add = fn; 
    </span><span class="s1">if </span><span class="s0">(</span><span class="s1">typeof</span><span class="s0">(fn) === </span><span class="s2">'function'</span><span class="s0">) { 
      </span><span class="s3">// Nunjucks discards information about the true location of an error that</span><span class="s0"> 
      </span><span class="s3">// happens in a function invoked inside {{ }}. Make this information visible</span><span class="s0"> 
      </span><span class="s3">// again with our own wrapper function.</span><span class="s0"> 
      </span><span class="s1">var </span><span class="s0">_fn = </span><span class="s1">function</span><span class="s0">() { 
        </span><span class="s1">try </span><span class="s0">{ 
          </span><span class="s1">return </span><span class="s0">fn.apply(</span><span class="s1">this</span><span class="s0">, arguments); 
        } </span><span class="s1">catch </span><span class="s0">(e) { 
          console.error(</span><span class="s2">'Error occurred in a nunjucks local (an apos* function or one of your own locals)'</span><span class="s0">); 
          </span><span class="s1">if </span><span class="s0">(e.stack) { 
            console.error(e.stack); 
          } </span><span class="s1">else </span><span class="s0">{ 
            console.error(</span><span class="s2">'Error has no stack trace, when throwing exceptions always use new Error(&quot;message&quot;)'</span><span class="s0">); 
          } 
          console.error(</span><span class="s2">'^^^^^ HEY LOOK UP HERE FIRST</span><span class="s1">\n</span><span class="s2">'</span><span class="s0">); 
          </span><span class="s1">throw </span><span class="s0">e; 
        } 
      }; 
      add = _fn; 
    } 
    self._aposLocals[name] = add; 
    self.app.locals[name] = add; 
  }; 
  </span><span class="s3">// An extra bit of trickery to support arrays in self._locals.groupBy</span><span class="s0"> 
  self._groupByArray =</span><span class="s1">function</span><span class="s0">(items, arrayName) { 
    </span><span class="s1">var </span><span class="s0">results = {}; 
    _.each(items, </span><span class="s1">function</span><span class="s0">(item) { 
      _.each(item[arrayName] || [], </span><span class="s1">function</span><span class="s0">(inner) { 
        </span><span class="s1">if </span><span class="s0">(!results[inner]) { 
          results[inner] = []; 
        } 
        results[inner].push(item); 
      }); 
    }); 
 
    </span><span class="s1">return </span><span class="s0">results; 
  }; 
}; 
</span></pre>
</body>
</html>