
<script>
function panel_grid(wnum, hnum) {
    var boxName = "box-" + tabCounter;
    var boxWidth = parseInt($("#box[name='"+boxName+"']").width()) + 14;
    console.log("boxWidth = "+ boxWidth)
    var boxHeight = parseInt($("#box[name='"+boxName+"']").height()) + 3;
    console.log("boxHeight = " + boxHeight);
    var a = parseInt(wnum) + 1;
    var wLength = 2 * a;
    var cellWidth = (boxWidth- wLength )/wnum;
    var cellHeight = (boxHeight- 2 * hnum)/hnum;
    console.log("cellW = "+ cellWidth + "cellh=" + cellHeight );
    for (var i = 0; i < wnum * hnum; i++) {
        var div = $("<div></div>");
        div.attr("id", "div" + (i+1));
        //div.id = "cell_" + i;
        // div.style.ondrop = "drop(event)";
        // div.style.ondragover = "allowDrop(event)";
        div.css({
            "float" : "left",
            "width" : cellWidth + "px",
            "height" : cellHeight + "px",
            "background-color" : "#00B7FF",
            "margin" : "1px",
            "padding" :"0px"
        });
        $("#box[name='"+ boxName +"']").append(div);
        console.log(div)
        // var element=document.getElementsByName(name);
        // element.appendChild(div);
    }
    //console.log(div)
    //return div;
}
</script>
