doctype html
html
  head
    meta(charset='UTF-8')
    title yunka index
    style.
      html,
      body {
      background: #000;
      overflow: show;
      }
      body {
      background: #000;
      background-size: cover;
      font-family: sans-serif;
      text-align: center;
      }
    script(type='text/javascript ').
      jQuery(document).ready(function($) {
      $(".scroll ").click(function(event) {
      event.preventDefault();
      $('html,body').animate({
      scrollTop: $(this.hash).offset().top
      }, 1000);
      });
      });
    style.
      body {
      left:0px;   
      background-color:black;
      margin: 0;
      padding: 0;
      text-align: center;
      }
      div,
      p,
      table,
      th,
      td {
      left:0px;  
      list-style: none;
      margin: 0;
      padding: 0;
      color: #333;
      font-size: 12px;
      background-color: rgba(0,0,0,0);
      font-family: dotum, Verdana, Arial, Helvetica, AppleGothic, sans-serif;
      }
      .ztree * {color:#666666;font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
      .ztree li ul{ margin:0; padding:0;color:#666666;}
      .ztree li {line-height:30px;}
      .ztree li a {width:200px;height:30px;padding-top: 0px;}
      .ztree li a:hover {text-decoration:none; background-color: #FFF;}
      .ztree li a span.button.switch {visibility:hidden}
      .ztree.showIcon li a span.button.switch {visibility:visible}
      .ztree li a.curSelectedNode {background-color:#FFF;border:0;height:30px;}
      .ztree li span {line-height:30px;}
      .ztree li span.button {margin-top: -7px;}
      .ztree li span.button.switch {width: 16px;height: 16px;}
      .ztree li a.level0 span {font-size: 150%;font-weight: bold;}
      .ztree li span.button {background-image:url("left_menuForOutLook.png"); *background-image:url("left_menuForOutLook.gif");}
      .ztree li span.button.switch.level0 {width: 20px; height:20px;}
      .ztree li span.button.switch.level1 {width: 20px; height:20px}
      .ztree li span.button.noline_open {background-position: 0 0;}
      .ztree li span.button.noline_close {background-position: -18px 0;}
      .ztree li span.button.noline_open.level0 {background-position: 0 -18px;}
      .ztree li span.button.noline_close.level0 {background-position: -18px -18px;}
      #testIframe {
      margin-left: 10px;
      background-color: rgba(0,0,0,0);
      }
    script(type='text/javascript', src='javascripts/jquery-1.4.4.min.js')
    script(type='text/javascript', src='javascripts/jquery.ztree.core.js')
    script(type='text/javascript').
      <!--
      var zTree;
      var demoIframe;
      var setting = {
      view: {
      dblClickExpand: false,
      showLine: true,
      selectedMulti: false
      },
      data: {
      simpleData: {
      enable:true,
      idKey: "id",
      pIdKey: "pId",
      rootPId: ""
      }
      },
      callback: {
      beforeClick: function(treeId, treeNode) {
      var zTree = $.fn.zTree.getZTreeObj("tree");
      if (treeNode.isParent) {
      zTree.expandNode(treeNode);
      return false;
      } else {
      demoIframe.attr("src",treeNode.file);
      return true;
      }
      }
      }
      };
      var zNodes = [
      {id:1, pId:0, name:"用户中心", file:"/admin/home",open:false},
      {id:101, pId:1, name:"个人中心",file:"/admin/info"},
      {id:102, pId:1, name:"视频墙配置", file:"/admin/info"},
      {id:103, pId:1, name:"信号源配置", file:"/admin/info"},
      {id:2, pId:0, name:"权限管理", file:"/admin/info"},
      {id:3, pId:0, name:"任务管理", file:"/admin/info"},
      ];
      $(document).ready(function(){
      var t = $("#tree");
      t = $.fn.zTree.init(t, setting, zNodes);
      demoIframe = $("#testIframe");
      demoIframe.bind("load", loadReady);
      var zTree = $.fn.zTree.getZTreeObj("tree");
      zTree.selectNode(zTree.getNodeByParam("id", 101));
      });
      function loadReady() {
      var bodyH = demoIframe.contents().find("body").get(0).scrollHeight,
      htmlH = demoIframe.contents().find("jade").get(0).scrollHeight,
      maxH = Math.max(bodyH, htmlH), minH = Math.min(bodyH, htmlH),
      h = demoIframe.height() >= maxH ? minH:maxH ;
      if (h < 700) h = 700;
      demoIframe.height(h);
      }
    script.
      window.console = window.console || function(t) {};
    script(type='application/x-javascript').
      addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
      }, false);
      function hideURLbar() {
      window.scrollTo(0, 1);
      }
    link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css ')
    link(href='stylesheets/stylehome.1.css ', rel='stylesheet', type='text/css')
    script(type='text/javascript ').
      jQuery(document).ready(function($) {
      $(".scroll ").click(function(event) {
      event.preventDefault();
      $('html,body').animate({
      scrollTop: $(this.hash).offset().top
      }, 1000);
      });
      });
      
      
  body
    .content
      #home 
        .header
          .navigation
            span.menu
              ul.navig
                li
                  a.scroll(href='/ ') 首页
                li
                  a.scroll(href='/walls') 视频墙
                li
                  a.scroll(href='/signup') 登录
                li
                  a.scroll(href='/footer') 后台
        table(border='0', height='600px', align='left',style='background-color=:rgba(0,0,0,0)')
          tr(background-color='rgba(0,0,0)')
            td(width='260px', align='left', valign='top', style='BORDER-RIGHT: #999999 1px dashed, background-color : rgba(0,0,0,0) ')
              ul#tree.ztree(style='width:260px; overflow:auto;')
            td(width='1300px', align='left', valign='top')
              iframe#testIframe(name='testIframe', frameborder='0', scrolling='AUTO', width='100%', height='600px', src='/admin/home')

          
    // script-for-menu
    script.
      $("span.menu ").click(function() {
      $(" ul.navig ").slideToggle("slow ", function() {});
      });
      $(function() {
      // Slideshow 4
      $("#slider4 ").responsiveSlides({
      auto: true,
      pager: true,
      nav: true,
      speed: 500,
      namespace: "callbacks ",
      before: function() {
      $('.events').append("<li>before event fired.</li>"); }, after: function() { $('.events').append("
      <li>after event fired.</li>"); } }); });
    
      
    script(src='javascripts/trianglify.min.js')
    script(src='javascripts/d3.min.js')
    script.
      var rn = Math.floor(Math.random() * 500 + 30);
      var rs = Math.floor(Math.random() * 20 + 4);
      var t = new Trianglify({
      x_gradient: Trianglify.colorbrewer.Spectral[rs],
      noiseIntensity: 0.2,
      cellsize: rn
      });
      var pattern = t.generate(window.innerWidth, window.innerWidth + 200);
      document.body.setAttribute('style', 'background-image: ' + pattern.dataUrl);
      //@ sourceURL=pen.js
    script.
      if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
      }