extends ../layouts/default

block content
	.container: .jumbotron
		//img(src='/images/logo.svg', width='160')
		h1 对对对你没有看错这个真的是首页
		p 这个就是用来展示的页面啦
		
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			//p We have created a default Admin user for you with the email <strong>admin</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p copyright @ yutiansut  2016
