html, body {
    font-size: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul, label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

.callbacks_tabs li {
    display: inline-block;
}


/*----*/

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.callbacks_here a:after {
    border: 1px solid #ffffff;
    background: #fff;
}

ul.callbacks_tabs.callbacks2_tabs {
    display: none;
}



.navigation {
    width: 65%;
    float: right;
    text-align: center;
}

.logo {
    width: 27%;
    float: left;
    text-align: center;
}

.header {
    padding-top: 2%;
}

ul.navig {
    padding: 0;
    margin-top: 2.4%;
}

ul.navig li span {
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
}

ul.navig li {
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

ul.navig li a {
    font-size: 1.04em;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    padding: 11px 12px;
    background: rgba(70, 181, 227, 0);
    border: 1px solid rgba(70, 181, 227, 0);
}

ul.navig li a:hover, ul.navig li a.active {
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: #245b73;
    border-radius: 0.3em;
    border: 1px solid rgba(255, 255, 255, 0.73);
}

ul.navig li a:hover ul.navig li a:after {
    display: block;
}

ul.navig li a:after {
    width: 15px;
    height: 15px;
    background: red;
    display: none;
    content: "";
    position: absolute;
    top: 0;
}

.content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 0px;
    text-align: center;
    position: relative;
    z-index: 5;
    box-shadow: 0 3px 36px 0 rgba(51, 51, 51, 0.5);
    display: inline-block;
    opacity: 0.7;
    color: #000;
    text-decoration: none;
    transition: all 0.2s
}

.banner {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 780px;
}

.banner-bottom h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2.1em;
    width: 60%;
    margin: 0 auto;
    line-height: 1.4em;
}

.banner-bottom p {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    margin: 0 auto;
    width: 53%;
    margin-top: 7px;
    line-height: 1.4em;
}

.banner-btm {
    text-align: center;
    margin-top: 23%;
}

.banner-btm {
    text-align: center;
    margin-top: 23%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    height: auto;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.callbacks_here a:after {
    border: 1px solid #ffffff;
    background: #fff;
}

ul.callbacks_tabs.callbacks2_tabs {
    display: none;
}