meta(http-equiv='content-type', content='text/html; charset=UTF-8')
link(rel='stylesheet', href='stylesheets/demo.css', type='text/css')
link(rel='stylesheet', href='stylesheets/zTreeStyle/zTreeStyle.css', type='text/css')
script(type='text/javascript', src='javascripts/jquery-1.4.4.min.js')
script(type='text/javascript', src='javascripts/jquery.ztree.core.js')
script(type='text/javascript').

      var curMenu = null, zTree_Menu = null;
      var setting = {
      view: {
      showLine: false,
      showIcon: false,
      selectedMulti: false,
      dblClickExpand: false,
      addDiyDom: addDiyDom
      },
      data: {
      simpleData: {
      enable: true
      }
      }
      };
      var zNodes =[
      { id:1, pId:0, name:"用户中心", open:true},
      { id:11, pId:1, name:"个人中心"},
      { id:111, pId:11, name:"视频墙配置"},
      {id:112,pId:11,name:"信号源管理"},
      { id:12, pId:1, name:"内部邮件"},
      { id:2, pId:0, name:"权限管理"},
      { id:3, pId:0, name:"任务管理"},
      ];
      function addDiyDom(treeId, treeNode) {
      var spaceWidth = 5;
      var switchObj = $("#" + treeNode.tId + "_switch"),
      icoObj = $("#" + treeNode.tId + "_ico");
      switchObj.remove();
      icoObj.before(switchObj);
      if (treeNode.level > 1) {
      var spaceStr = "<span style='display: inline-block;width:" + (spaceWidth * treeNode.level)+ "px'></span>";
      switchObj.before(spaceStr);
      }
      }
      function beforeClick(treeId, treeNode) {
      if (treeNode.level == 0 ) {
      var zTree = $.fn.zTree.getZTreeObj("treeDemo");
      zTree.expandNode(treeNode);
      return false;
      }
      return true;
      }
      $(document).ready(function(){
      var treeObj = $("#treeDemo");
      $.fn.zTree.init(treeObj, setting, zNodes);
      zTree_Menu = $.fn.zTree.getZTreeObj("treeDemo");
      curMenu = zTree_Menu.getNodes()[0].children[0].children[0];
      zTree_Menu.selectNode(curMenu);
      treeObj.hover(function () {
      if (!treeObj.hasClass("showIcon")) {
      treeObj.addClass("showIcon");
      }
      }, function() {
      treeObj.removeClass("showIcon");
      });
      });

style(type='text/css').
       
      .ztree * {color:#666666;font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
      .ztree li ul{ margin:0; padding:0;color:#666666;}
      .ztree li {line-height:30px;}
      .ztree li a {width:200px;height:30px;padding-top: 0px;}
      .ztree li a:hover {text-decoration:none; background-color: #FFF;}
      .ztree li a span.button.switch {visibility:hidden}
      .ztree.showIcon li a span.button.switch {visibility:visible}
      .ztree li a.curSelectedNode {background-color:#FFF;border:0;height:30px;}
      .ztree li span {line-height:30px;}
      .ztree li span.button {margin-top: -7px;}
      .ztree li span.button.switch {width: 16px;height: 16px;}
      .ztree li a.level0 span {font-size: 150%;font-weight: bold;}
      .ztree li span.button {background-image:url("left_menuForOutLook.png"); *background-image:url("left_menuForOutLook.gif");}
      .ztree li span.button.switch.level0 {width: 20px; height:20px;}
      .ztree li span.button.switch.level1 {width: 20px; height:20px}
      .ztree li span.button.noline_open {background-position: 0 0;}
      .ztree li span.button.noline_close {background-position: -18px 0;}
      .ztree li span.button.noline_open.level0 {background-position: 0 -18px;}
      .ztree li span.button.noline_close.level0 {background-position: -18px -18px;}