doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=distice-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='renderer', content='webkit')
    title 登录
    link(rel='stylesheet', href='/stylesheets/common.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/download.css', media='screen')
    script.
      function login(){
        var name=document.getElementById("name").value;
        var pass=document.getElementById("password").value;
        
      };
  body
    .index-page
      .client-header
        .bg
        .container
          .pull-right.relative
            ul.deflate
              li
                a(href='javascript:;')
      .banner
        .slide.slide1
          .bg-wrapper
            #container_left.bg
              #canvas_left
            .mask
          .content(style='margin-left:30%')
            .con-warpper-fixed
              .con-pc
                .con-pc2
                  p
                    font(color='#FFF', size='60') 注册
                  form
                     p
                       label(style='color:white') 注册名
                       input(type='text',style='background-color:rgba(0,0,0,0)')
                     p
                       label 密码
                       input(type='text',style='background-color:rgba(0,0,0,0)')
                     p 
                       button.btn.btn-left 注册
        .slide.slide2
          .bg-wrapper
            #container_right.bg
              #canvas_right
            .mask
          .content(style='margin-right:30%')
            .con-warpper-fixed
              .con-pc
                .con-pc2
                  p
                    font(color='#FFF', size='60') 登录
                   form
                     p
                       label(style='color:white, border:0px solid #00F') 登录名
                       input(type='text',id='name',style='background-color:rgba(0,0,0,0)')
                     p
                       label 密码
                       input(type='text',id='password',style='background-color:rgba(0,0,0,0)')
                     p 
                       button.btn.btn-left(href='#', onclick='login()')  登录
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/cav.js')
    script(src='/javascripts/backgroundShaking.js')
    script.
      $(function() {
      //				backgroundShaking('container_left', 'canvas_left', '#ba2454', '#b73c63')
      backgroundShaking('container_left', 'canvas_left', '#0065a1', '#197bb5')
      backgroundShaking('container_right', 'canvas_right', '#ab6c11', '#cfa73a')
      })
