doctype html
html
    include header.jade
     style(type='text/css').
      .drsElement {
      position: absolute;
      border: 1px dashed #FFF;
      }
      .drsMoveHandle {
      height: 20px;
      background-color: rgba(255,255,255,0);
      z-index: 10000000;
      border-bottom: 1px dashed #FFF;
      color:#FFF;
      text-align:center;
      font-weight:bold;
      cursor: move;
      }
      .dragresize {
      position: absolute;
      width: 5px;
      height: 5px;
      font-size: 1px;
      background: #3c3c3c;
      border: 1px dashed #3c3c3c;
      }
      .dragresize-tl {
      top: -8px;
      left: -8px;
      cursor: nw-resize;
      }
      .dragresize-tm {
      top: -8px;
      left: 50%;
      margin-left: -4px;
      cursor: n-resize;
      }
      .dragresize-tr {
      top: -8px;
      right: -8px;
      cursor: ne-resize;
      }
      .dragresize-ml {
      top: 50%;
      margin-top: -4px;
      left: -8px;
      cursor: w-resize;
      }
      .dragresize-mr {
      top: 50%;
      margin-top: -4px;
      right: -8px;
      cursor: e-resize;
      }
      .dragresize-bl {
      bottom: -8px;
      left: -8px;
      cursor: sw-resize;
      }
      .dragresize-bm {
      bottom: -8px;
      left: 50%;
      margin-left: -4px;
      cursor: s-resize;
      }
      .dragresize-br {
      bottom: -8px;
      right: -8px;
      cursor: se-resize;
      }
    script(type='text/javascript', src='javascripts/dragresizefree.js')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript').
      function createDIV(w, h) {
      var screenShot = document.createElement('div'); //创建一个DIV
      document.body.appendChild(screenShot);
      screenShot.Class = "drsElement";
      $("#drsElement").addClass("drsElement"); //添加样式
      screenShot.id = ("drsElement");
      //screenShot.style.background ="#white";
      screenShot.style.width ="72px";
      screenShot.style.height ="57.6px";
      screenShot.style.left ="200px";
      screenShot.style.top ="200px";
      screenShot.innerHTML ="<h1>风擎有毒  <br><h1> 陈羿擎更毒  <br> <h1>风擎以毒攻毒  <br><h1> 这是你心心念念的香芋色<br> <h1> 喜欢吗"; //设置div里面的内容
      }
      function deleteDIV() {
      document.body.removeChild(document.getElementById("drsElement"));
      }
      function addclass()
      {
      $("#drsElement").addClass("drsElement drsMoveHandle"); //添加样式
      }
    script(type='text/javascript').
      //<![CDATA[
      // Using DragResize is simple!
      // You first declare a new DragResize() object, passing its own name and an object
      // whose keys constitute optional parameters/settings:
      var dragresize = new DragResize('dragresize', {
      minWidth: 50,
      minHeight: 50,
      minLeft: 8,
      minTop: 50,
      maxLeft: 1920,
      maxTop: 1500
      });
      // Optional settings/properties of the DragResize object are:
      // enabled: Toggle whether the object is active.
      // handles[]: An array of drag handles to use (see the .JS file).
      // minWidth, minHeight: Minimum size to which elements are resized (in pixels).
      // minLeft, maxLeft, minTop, maxTop: Bounding box (in pixels).
      // Next, you must define two functions, isElement and isHandle. These are passed
      // a given DOM element, and must "return true" if the element in question is a
      // draggable element or draggable handle. Here, I'm checking for the CSS classname
      // of the elements, but you have have any combination of conditions you like:
      dragresize.isElement = function(elm) {
      if (elm.className && elm.className.indexOf('drsElement') > -1) return true;
      };
      dragresize.isHandle = function(elm) {
      if (elm.className && elm.className.indexOf('drsMoveHandle') > -1) return true;
      };
      // You can define optional functions that are called as elements are dragged/resized.
      // Some are passed true if the source event was a resize, or false if it's a drag.
      // The focus/blur events are called as handles are added/removed from an object,
      // and the others are called as users drag, move and release the object's handles.
      // You might use these to examine the properties of the DragResize object to sync
      // other page elements, etc.
      dragresize.ondragfocus =function() {};
      dragresize.ondragstart =function(isResize) {};
      dragresize.ondragmove = function(isResize) {};
      dragresize.ondragend = function(isResize) {};
      dragresize.ondragblur = function() {};
      // Finally, you must apply() your DragResize object to a DOM node; all children of this
      // node will then be made draggable. Here, I'm applying to the entire document.
      dragresize.apply(document);
  body(onload='createDIV()')
    button(onclick='addclass()') add
    button(onclick='deleteDIV()') delete
    button(onclick='createDIV()') create
    button(onclick='send()') send
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    
    include footers