doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='google', value='notranslate')
    title yunka index
    style.
      html,
      body {
      background: #000;
      overflow: show;
      }
      body {
      background: #000;
      background-size: cover;
      font-family: sans-serif;
      text-align: center;
      }
    script.
      window.console = window.console || function(t) {};
    script(type='application/x-javascript').
      addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
      }, false);
      function hideURLbar() {
      window.scrollTo(0, 1);
      }
    link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css ')
    link(href='stylesheets/stylehome.css ', rel='stylesheet', type='text/css')
    script(src='javascripts/jquery-1.11.0.min.js ')
    script(type='text/javascript ').
      jQuery(document).ready(function($) {
      $(".scroll ").click(function(event) {
      event.preventDefault();
      $('html,body').animate({
      scrollTop: $(this.hash).offset().top
      }, 1000);
      });
      });
  body
    .content
      #home 
      .banner
        .container
          .header
            .logo
            .navigation
              span.menu
              ul.navig
                li
                  a.scroll.active(href='/ ') 首页
                li
                  a.scroll(href='/walls ') 视频墙
                li
                  a.scroll(href='/signup') 登录
                li
                  a.scroll(href='/footer') 后台
            .clearfix
          .banner-btm
            #top 
            .callbacks_container
              ul#slider4 
              .rslides
                li
                  .banner-bottom
                    h1 每日三问
                    h1 今天撩到汉子了吗
                    h1 石楠花的味道香吗
                    h1 羿擎姐姐中毒了吗
                   
   
    // script-for-menu
    script.
      $("span.menu ").click(function() {
      $(" ul.navig ").slideToggle("slow ", function() {});
      });
    // script-for-menu
    // Slider-Starts-Here
    script(src='javascripts/responsiveslides.min.js ')
    script.
      // You can also use "$(window).load(function() { "
      $(function() {
      // Slideshow 4
      $("#slider4 ").responsiveSlides({
      auto: true,
      pager: true,
      nav: true,
      speed: 500,
      namespace: "callbacks ",
      before: function() {
      $('.events').append("<li>before event fired.</li>"); }, after: function() { $('.events').append("
      <li>after event fired.</li>"); } }); });
    //
      
    script(src='javascripts/trianglify.min.js')
    script(src='javascripts/d3.min.js')
    script.
      var rn = Math.floor(Math.random() * 500 + 30);
      var rs = Math.floor(Math.random() * 20 + 4);
      var t = new Trianglify({
      x_gradient: Trianglify.colorbrewer.Spectral[rs],
      noiseIntensity: 0.2,
      cellsize: rn
      });
      var pattern = t.generate(window.innerWidth, window.innerWidth + 200);
      document.body.setAttribute('style', 'background-image: ' + pattern.dataUrl);
      //@ sourceURL=pen.js
    script.
      if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
      }