doctype html
html
    include header
  head
    title  ZTREE DEMO - drag with other DOM
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='stylesheets/demo.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/metroStyle/metroStyle.css', type='text/css')
    script(type='text/javascript', src='javascripts/jquery-1.4.4.min.js')
    script(type='text/javascript', src='javascripts/jquery.ztree.core.js')
    // <script type="text/javascript" src="../../../js/jquery.ztree.excheck.js"></script>
    script(type='text/javascript', src='javascripts/jquery.ztree.exedit.js')
    script(type='text/javascript', src='javascripts/trees.js')
    script(type='text/javascript', src='javascripts/block.js')
    style(type='text/css').
      .dom_line {margin:2px;border-bottom:1px gray dotted;height:1px}
      .domBtnDiv {display:block;padding:2px;border:1px gray dotted;background-color:powderblue}
      .categoryDiv {display:inline-block; width:335px}
      .domBtn {display:inline-block;cursor:pointer;padding:2px;margin:2px 10px;border:1px gray solid;background-color:#FFE6B0}
      .domBtn_Disabled {display:inline-block;cursor:default;padding:2px;margin:2px 10px;border:1px gray solid;background-color:#DFDFDF;color:#999999}
      .dom_tmp {position:absolute;font-size:12px;}
      .active {background-color: #93C3CF}
    style.
      .panelControl{
      }
      .table {
      display: table;
      position: float;
      float: left;
      border-spacing: 22px;
      border-color: #3c3c3c;
      border: 1px;
      border-collapse: collapse;
      border-spacing: 0;
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      border-right: 1px solid #888;
      border-bottom: 1px solid #888;
      background: #FFF;
      width: 60%;
      height: 0.75*width;
      }
      .table td {
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      border-right: 1px solid #888;
      border-bottom: 1px solid #888;
      }


     
  body
    
    h1 视频墙
    h6 
    .content_wrap
      .zTreeDemoBackground.left
        ul#treeDemo.ztree
        
      .right

        ul.info
            .domBtnDiv
              #dom_1.categoryDiv
                span.domBtn(domid='11') Tree
                span.domBtn(domid='12') Grass
                span.domBtn(domid='13') Flower
              .dom_line
              #dom_2.categoryDiv
                span.domBtn(domid='21') Tiger
                span.domBtn(domid='22') Bear
                span.domBtn(domid='23') Lion
    .table
   